---

const { text } = Astro.props; 
import RobotHero from './robotHero';
---

<section class="hero">
  <div class="hero-content">
    <div class="text-content">
      <h1>
        {text('hero.title')} <span>{text('hero.titleSpan')}</span>
      </h1>
      <p>
        {text('hero.descriptionBeforeSpan')} <span>{text('hero.descriptionSpan')}</span>{text('hero.descriptionAfterSpan')}
      </p>
      
      
      <button>{text('hero.cta')}</button>
    </div>
    <RobotHero client:only="react" />
  </div>
</section>



<style >

  .hero {
   
    color: white;
    display: flex;
    height: 80vh;
    padding: 4rem 0;
    background-color: var(--space-black);
  }

  .hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
    text-align: center;
    
  }

  .text-content h1 {
    font-size: 3rem;
    margin-bottom: 1rem;

  }
  .text-content{
    max-width:800px;
  }

  .text-content h1 span {
    color: var(--neon-blue);
  }

  .text-content p {
    font-size: 1.25rem;
    color: rgba(255, 255, 255, 0.75);
    max-width: 500px;
    margin: 0 auto;
  }
  .text-content p span {
    color: var(--amber-glow);
  }
  .text-content button {
    border: 0;
    display: inline-block;
  background: linear-gradient(90deg, #ff00cc, #00c3ff);
  color: white;
  padding: 1.2rem 2.8rem;
  border-radius: 0.5rem;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
  box-shadow: 0 8px 25px rgba(0, 195, 255, 0.3);
  margin-top: 4rem;
  }
  .text-content button:hover {
    transform: translateY(-5px);
  box-shadow: 0 12px 35px rgba(0, 195, 255, 0.5);
  background: linear-gradient(90deg, #e600b8, #00a0e6);

  }
  @media (max-width: 1024px) {
    .hero {
     

    padding-top: 1rem;
    
    text-align: center;
    }
    .hero-content{
      flex-direction: column;
      align-items: center;
    
    }
  }
</style>
